/* Set default styles for html and body elements */
html, body {
    height: 100%;
    position: relative;
  }
  
  /* Set background color and cursor style for body */
  body {
    margin: 0;
    padding: 0;
    cursor: url('media/milkshake.png'), auto;
    background: linear-gradient(360deg, rgba(9,1,133,1) 0%, rgba(200,66,177,1) 49%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin bottom: 180px; 
  }
  
  .rose, .john, .david {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: auto;
    margin-bottom: 40px;
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    /* Set width and position for description divs */
    .description {
      width: 100%;
      position: static;
      margin-top: 5px;
      text-align: center;
    }
  }
  
  /* Media query for larger screens */
  @media (min-width: 768px) {
    /* Set position, size, and margin for each image */
    .rose, .john, .david {
      position: absolute;
      right: 75%;
      left: 0;
      margin: 0 auto;
      width: 20%;
      height: auto;
      margin-bottom: 40px;
    }
    /* Set position for each image */
    .john {
      top: 30%;
    }
    .david {
      top: 53%;
    }
    .rose {
      top: 75%;
    }
  }
  
  /* Set styles for description div */
  .description {
    width: 40%;
    max-width: 30%;
    border: none;
    padding: 10px;
    margin: 65px auto 0;
    text-align: left;
    font-size: 18px;
    color: rgb(71, 42, 139);
    background-color: rgba(255, 177, 220, 0.603);
    border-radius: 8px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .description h2{
    margin-top: 0;
  }
  /* Set default styles for images */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px !important;
    height: 150px !important;
  }
  
  /* Set styles for button container */
  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: calc(12vh - 60px);
    padding-bottom: 10px;
    align-items: center;
  }
  .button a{
    color: white;
    text-decoration: none;
  }
  
  /* Set styles for buttons */
  .button {
    background-color: rgb(245, 90, 219);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Set styles for image containers */
  .image-container {
    position: relative;
  }